<%- include('../../fragments/header.ejs') %>

    <main>
        
        <p class="succesForm"> Operacja przeprowadzona pomyślnie !
        </p>
    </main>

    <%- include('../../fragments/footer.ejs') %>
